@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}






<html>
<head>
</head>
<body>

    

<div class="form-group row ml-5">

    <div class="col ml-5">
        <div class="card mb-3" style="max-width: 20rem;">
            <h3 class="card-header">  Legg til ny admin</h3>
            <div class="card-body">

            </div>
            <img style="height: 200px; width: 90%; display: block;" src="~/Content/images/AddAdmin.png" alt="Card image">
            <div class="card-body">
                <p class="card-text">Klikk her for å legget til en ny admin.</p>
            </div>

            <div class="card-body text-center">
                <a href="~/Admin/RegistrerAdmin" class="btn btn-primary ">Legg til</a>
            </div>

        </div>
    </div>

    <div class="col ml-5">
        <div class="card mb-3" style="max-width: 20rem;">
            <h3 class="card-header"> Administrer Admin</h3>
            <div class="card-body">

            </div>
            <img style="height: 200px; width: 95%; display: block;" src="~/Content/images/Endre.png" alt="Card image">
            <div class="card-body">
                <p class="card-text">Klikk her for å redigere admin</p>
            </div>

            <div class="card-body text-center">
                <a href="~/Admin/ListAdmin" class="btn btn-primary ">Administrer</a>
            </div>

        </div>
    </div>
</div>


</body>


</html>