
@{
    ViewBag.Title = "Ha en god tur!";
}


<div class="form-group " align="center" style="margin-top:200px">
    
    <h1>Takk for din bestilling!</h1>
    <h2>Ha en fin reise!</h2>
    
    <a class="btn btn-success btn-lg px-5" href="~/Home/Index">Hjem</a>
</div>
